html, body{
    margin:0;
    padding: 0;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, sans-serif;  
    background-color: rgb(221, 209, 237);
    background-size: cover;
    width: 100%;
    padding-bottom: 32px;
    animation: fadeIn 0.1s ease-in;
    box-sizing: border-box;
} 
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
a, button, img {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.header .logo img{
    width: 200px;
}
.header .profile{
    padding: 5px;
    background-color: #fff;
    border-radius: 50px;
    align-items: center;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-around;

}
.header .profile img{
    width:40px;
}
































footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: white;
    padding: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    /* border-radius: 20px 20px 0 0; */
    align-items: center;
}
.footerIcon{
    font-size: 40px;
    display: flex;          
    align-items: center;    
    justify-content: center; 
    color: rgb(166, 168, 170);
}

.footerIcon img {
    width: 40px;  
    height: 40px;  

}

