html, body{
    margin:0;
    padding: 0;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, sans-serif;  
    background-color: rgb(221, 209, 237);
    background-size: cover;
    width: 100%;
    padding-bottom: 32px;
    animation: fadeIn 0.1s ease-in;
    box-sizing: border-box;
} 
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
a, button, img {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.small-img {
  width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.header .profile{
    padding: 5px;
    background-color: #fff;
    border-radius: 50px;
    align-items: center;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-around;

}
.header .profile img{
  width: 40px;
}
.section-card {
  margin: 30px 15px 10px 15px;
  background: #fff;
  border-radius: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 3px 3px rgb(132, 131, 131);
}

.club-card {
  margin: 12px 16px;
  background: #fff;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 3px 3px rgb(132, 131, 131);
}

.club-left {
  display: flex;
  align-items: center;
}
.club-type{
  margin-left: 10px;
}
.club-icon {
  width: 48px;
  height: 48px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.club-icon.blue {
  background: #eef3f9;
  color: #5a7bd8;
}

.club-icon.pink {
  background: #fdeeee;
  color: #d16c6c;
}

.club-card h3 {
  font-size: 19px;
  font-weight: 600;
}

.tag {
  display: inline-block;
  margin-top: 4px;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
}

.tag.technical {
  background: #e9f0fb;
  color: #5a7bd8;
}

.tag.cultural {
  background: #fdeaea;
  color: #d16c6c;
}

.follow {
  float: right;
  margin-top: -40px;
  padding: 8px 18px;
  border: none;
  border-radius: 18px;
  background: #f1f1f4;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.desc {
  margin-top: 14px;
  font-size: 16px;
  color: #555;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: white;
    padding: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    /* border-radius: 20px 20px 0 0; */
    align-items: center;
}
.footerIcon{
    font-size: 40px;
    display: flex;          
    align-items: center;    
    justify-content: center; 
    color: rgb(166, 168, 170);
}

.footerIcon img {
    width: 40px;  
    height: 40px;  

}

