html, body{
    margin:0;
    padding: 0;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, sans-serif;  
    background-color: rgb(221, 209, 237);
    background-size: cover;
    width: 100%;
    padding-bottom: 32px;
    animation: fadeIn 0.1s ease-in;
    box-sizing: border-box;
} 
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
a, button, img {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.header .logo img{
    width: 200px;
}
.header .profile{
    padding: 5px;
    background-color: #fff;
    border-radius: 50px;
    align-items: center;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-around;

}
.header .profile img{
    width:40px;
}


.uploadContainer{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.uploadContainer .uploadContainerimg img{
    width:40px;
}
.uploadContainer .uploadContainerimg{
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px;

}
.upload{
    border: 2px solid rgb(146, 146, 144);
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 3px 3px rgb(132, 131, 131);
    width: 70%;

}
.uploadContainer .sell{
    background-color: rgb(200, 241, 199);
}
.upload span{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
}

.itemsContainer{
    /* border: 2px solid green; */
    margin-top: 70px;
}
.itemsContainer .item{
    /* border: 2px solid blue; */
    width:350px;
    margin: 20px auto;
}
.itemsContainer .item .itemimg{
    height: 200px;
}
.itemsContainer .item .description{
    /* border: 2px solid yellow; */
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 0 0 10px 10px;

}
.itemsContainer .item .description h3{
    /* border: 2px solid yellow; */
    margin-top: 0;;
}
.itemsContainer .item .description .details{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-around;

}
.itemsContainer .item .itemimg img{
    width:350px;
    height: 200px;
    border-radius: 10px 10px 0 0;

}
.itemsContainer .item .description .interact{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
}
.itemsContainer .item .description .interact button{
    width: 200px;
    font-size: 20px;
    color: #fff;
    background-color: royalblue;
    border: none;
    border-radius: 10px;
}

.itemsContainer .item .description .tag{
    /* border: 2px solid black; */
    padding: 5px 10px;
    border-radius: 25px;
    color: #fff;
    margin: 4px 0;
}
.itemsContainer .item .description .found{
    background-color: rgb(86, 236, 86);
}
.itemsContainer .item .description .lost{
    background-color: rgb(240, 84, 84);
}
.itemdetails{
    /* border: 2px solid blue; */
    margin-top: 15px;
}
.itemdetails .info-row{
    /* border: 2px solid green; */
    background-color: #e6e6e6;
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

















footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: white;
    padding: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    /* border-radius: 20px 20px 0 0; */
    align-items: center;
}
.footerIcon{
    font-size: 40px;
    display: flex;          
    align-items: center;    
    justify-content: center; 
    color: rgb(166, 168, 170);
}

.footerIcon img {
    width: 40px;  
    height: 40px;  

}


