html, body{
    margin:0;
    padding: 0;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, sans-serif;    background-color: rgb(221, 209, 237);
    background-size: cover;
    width: 100%;
    padding-bottom: 32px;
    animation: fadeIn 0.1s ease-in;
    box-sizing: border-box;
} 
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
a, button, img {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
header{
    display: flex;
    justify-content: space-between;
}
header .backicon img{
    width: 40px;
    margin: 5px 10px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;

}
header .logout {
    /* border: 2px solid green; */
    margin: 10px ;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: red;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}






.userDetails .userPhoto{
    display: flex;
    justify-content: center;
}


.userDetails .stats-container {
    margin: 40px auto;
    display: flex;
    background: #EEF2F7;
    padding: 15px;
    border-radius: 16px;
    justify-content: space-around;
    box-shadow: 0 3px 3px rgb(132, 131, 131);

}


.userDetails  .stat-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.userDetails .stat-label {
    font-size: 16px;
    color: #4B5563;
    font-weight: 500;
}

.userDetails .stat-header i {
    font-size: 18px;
    color: #9CA3AF;
    cursor: pointer;
}

.userDetails .stat-value {
    font-size: 30px;
    font-weight: 700;
    color: #1F2937;
    display: flex;
    justify-content: space-around;
}







.userDetails .info-container {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.userDetails .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 1px solid #E5E5E5;
}

/* .userDetails .info-row:last-child {
    border-bottom: none;
}  */

.userDetails .info-label {
    font-size: 15px;
    color: #9CA3AF;
    font-weight: 400;
}

.userDetails .info-value {
    font-size: 15px;
    color: #374151;
    font-weight: 500;
    text-align: right;
}































footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: white;
    padding: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    /* border-radius: 20px 20px 0 0; */
    align-items: center;
}
.footerIcon{
    font-size: 40px;
    display: flex;          
    align-items: center;    
    justify-content: center; 
    color: rgb(166, 168, 170);
}

.footerIcon img {
    width: 40px;  
    height: 40px;  

}









