* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
.small-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.smallimg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

body {
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* App shell */
.app {
  width: 375px;
  height: 720px;
  background: #e6e0f0;
  border-radius: 26px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0,0,0,0.45);

  display: flex;
  flex-direction: column;
}


/* Top bar */
.topbar {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-group {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.subtitle {
  font-size: 13px;
  color: #666;
}

.profile {
  width: 38px;
  height: 38px;
  background: #f5f2f2;
  border-radius: 50%;
}

/* Content */
.content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}


/* Department grid */
.dept-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.card {
  background: #ffffff;
  border-radius: 18px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}

.card i {
  font-size: 28px;
  margin-bottom: 6px;
  color: #6a5acd;
}

.card span {
  font-size: 13px;
  font-weight: 600;
}
.section-card {
  margin: 5px 8px;
  background: #fff;
  border-radius: 18px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  gap: 1px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.06);
}

/* Links */
.links {
  margin-top: 28px;
}

.links h3 {
  margin-bottom: 10px;
}

.link-card {
  background: #ffffff;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Bottom nav */
.bottom-nav {
  height: 70px;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -4px 12px rgba(0,0,0,0.15);
}


.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #666;
}

.nav-item i {
  font-size: 24px;
}

.nav-item.active {
  color: #6a5acd;
}

/* Ripple effect */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:active::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.08);
}
