html, body{
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);

/* background: linear-gradient(to bottom right, royalblue, white); */
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    min-height: 350px;
    border: 2px solid violet;   
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;


}
nav .searchNotification{
    display: flex;
    justify-content: center;
}
.logoImage{
    margin: 20px;
    width:170px;
    height:80px;
}
nav .searchNotification  i{
    font-size: 40px;
    
}
nav .searchNotification .squareBtn{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 30px;
    margin: 10px;

}
.mainBody{
    /* display: flex; */
    flex: 1;
    /* border: solid 2px black; */
    /* flex-direction: row; */
    justify-content: space-around;
    /* background-color: white ; */
    

}
.mainBody .greet{
    /* border: solid 2px black; */
    padding-left: 10px;
}
/* .QuickSection{
    /* border: solid 2px black; 
}*/

.mainBody .content .QuickSection .QS_heading{
    margin: 15px;
}
.QuickSection .row{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.QuickSection .row .QuickSectionBtn{
    display: flex;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 20px;
    width: 160px;
    font-size: 17px;
    align-items: center;
    padding: 7px;
    font-weight: bold;
    background-color: white;

    
}
.QuickSection .row .QuickSectionBtn i{
    font-size: 30px;
}
.mainBody .greet{
    /* border: 2px solid black; */
    background-color: white;
    border-left: solid royalblue 10px;
    border-radius:15px ;
    padding: 5px;
    width: 350px;
}
.mainBody .greetbox{
    /* border: 2px solid blue; */
    justify-content: space-around;
    display: flex;
}
.content{
    width: 100%;
    max-width: 1200px; 
    height: 90%;
    margin: 1rem auto;  
    /* border-radius: 30px; */
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
    /* border: solid 2px rgb(137, 29, 29); */
    /* background-color: white ; */
    min-height: 600px;

}
footer{
    /* position: fixed; */
    background: white;
    padding: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    border-radius: 20px 20px 0 0;
    align-items: center;
}
.footerIcon{
    font-size: 40px;
        display: flex;          
    align-items: center;    
    justify-content: center; 
    color: rgb(166, 168, 170);
}

.footerIcon img {
    width: 40px;  
    height: 40px;  

}







